body {
    background-image: url(../images/geo-dark.png);
    background-repeat: repeat;
    background-size: cover;
}
.jumbotron {
    background-image: url(../images/food.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 2%;
}
.options {
    background-color: #9fd4ff;
    border-radius: 5px;
    font-size: 1.25rem;
    margin: 15px 0;
    padding: 10px 5px;
    cursor: pointer;
    width: 100%;
}
.options:hover {
    border: #4f9cdb solid 3px;
    padding: 7px 5px;
}